#CardsGrid {
  background-color: #000;
  position: relative;
  color: #fff;
  border-radius: 5px;
  float: left;
  margin: 10px;
  padding: 6px;
}

.CardTitle,
.CardText {
  margin: 5px;
}

.CardTitle {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

.CardText {
  position: relative;
  font-size: 0.8rem;
  margin-left: 10px;
  width: 180px;
}

@media screen and (max-width: 600px) {
  .CardText {
    position: relative;
    font-size: 0.8rem;
    margin-left: 10px;
    width: 100px;
  }
}
