#CardsGrid{
    margin: 1vh;
    /* width: auto; */
}

#CardTitle, #CardText{
    margin: 5pt;
}

#CardTitle{
    font-size: 2rem;
    padding: 6pt;
    color: #000;
    font-family: "Montserrat", sans-serif;
}

#CardText{
    font-size: 1rem;
    padding: 6pt;
    color: #000;
    font-family: "Montserrat", sans-serif;
}

.time{
    font-size: 0.8rem;
}

.btn{
    margin: 10pt;
}

@media only screen and (max-width: 900px) {
    
    #CardTitle, #CardText{
        margin: 5pt;
    }
    
    #CardTitle{
        font-size: 1rem;
        padding: 5pt;
        color: #000;
        font-family: "Montserrat", sans-serif;
    }
    
    #CardText{
        font-size: 0.7rem;
        padding: 6pt;
        color: #000;
        font-family: "Montserrat", sans-serif;
    }
    
    .time{
        font-size: 0.5rem;
    }   
}