#TitleHead,#noteBody, #AddButton{
    margin: 5pt;
    width: 25vw;
    height: 3vh;
}
#noteBody{
    height: 15vh;
    resize: none;
}
#AddButton{
    width: auto;
}
#notes{
    margin: 10pt;
}